h1{
	text-align: center;
	color: white;
	font-size: 50px;
	animation-name: colorchange;
	animation-duration: 4s;
}

@keyframes colorchange {
	0% {color: rgb(223, 139, 139);}
	20% {color: black;}
	40% {color: purple}
	60% {color: yellow}
	80% {color: pink}
	100% {color: rgb(247, 247, 233);}
}

.scoreboard{
	margin: 30px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

.scoreboard button{
	font-size: 20px;
	color: white;
	border-radius: 5%;
	margin-top: -10em;
	width: 200px;
	height: 70px;
}


.increment{
	border: 5px solid greenyellow;
	background-color: lightgreen;
}
.increment:hover{
	background-color: rgb(66, 219, 66);
}

.decrement{
	border: 5px solid red;
	background-color: rgb(223, 139, 139);
}

.decrement:hover{
	background-color: rgb(243, 103, 103);
}
.scoreboard p{
	border-radius: 5%;
	padding: 5px;
	width: 400px;
}

.player{
	background-color: rgb(179, 179, 179);
	border: 5px solid white;
	font-size: 35px;
	font-family: sans-serif;
	color: white;
	height: 50px;
	animation-name: colorchange;
	animation-duration: 4s;
}

.score{
	margin-top: -.5em;
	border: 5px solid blue;
	background-color: rgb(139, 206, 223);
	height: 120px;
	font-size: 60px;
	color: white;
}


.leftScore{
	float: left;
}

.rightScore{
	float: right;
}

body {
	background-color: rgb(73, 145, 179);
}

div.table {
	background-color: white;
	width: 800px;
	margin: auto;
	max-height: 500px;
	border-width: 16px;
	border-color: black;
	border-style: solid;
	border-radius: 10%;
}

div.left-goal {
	background-color: lightgray;
	width: 16px;
	height: 250px;
	position: relative;
	top: 125px;
	right:16px;

}

div.right-goal {
	background-color: lightgray;
	width: 16px;
	height: 250px;
	position: relative;
	left: 800px;
	bottom: 125px;
}

div.middle-line {
	background-color: blue;
	width: 6px;
	height: 500px;
	opacity: 0.2;
	position: relative;
	bottom: 500px;
	left: 400px; 
}

div.left-middle-line {
	background-color: blue;
	width: 6px;
	height: 500px;
	opacity: 0.2;
	position: relative;
	bottom: 1000px;
	left: 275px;
}

div.right-middle-line {
	background-color: blue;
	width: 6px;
	height: 500px;
	opacity: 0.2;
	position: relative;
	bottom: 1500px;
	left: 525px;
}

div.puck {
  	height: 100px;
 	width: 100px;
  	background-color: black;
  	border-radius: 50%;
  	position: relative;
  	bottom: 1800px;
  	left: 350px;

}


div.ring {
	height: 200px;
 	width: 200px;
  	background-color: red;
  	border-radius: 50%;
  	opacity: 0.2;
  	position: relative;
  	bottom: 1950px;
  	left: 300px;
}

div.ring-inner {
	height: 180px;
 	width: 180px;
  	background-color: white;
  	border-radius: 50%;
  	position: relative;
  	left: 10px;
  	top: 10px;
}

div.arc1 { 
    position: relative; 
    bottom:2100px;
    right: 75px;
    transform: translate(-50%, -50%);
    transform: rotate(90deg); 
    height: 100px; 
    width: 250px; 
    border-radius: 150px 150px 0 0; 
	background-color: lightgray; 
	opacity: 0.3;
} 

div.arc2 { 
    position: relative; 
    bottom:2200px;
    left: 625px;
    transform: translate(-50%, -50%);
    transform: rotate(270deg); 
    height: 100px; 
    width: 250px; 
    border-radius: 150px 150px 0 0; 
	background-color: lightgray; 
	opacity: 0.3;
}

div.paddle1 {
	height: 120px;
 	width: 120px;
  	background-color: red;
  	border-radius: 50%;
  	position: absolute;
  	top: 300px;
  	left:600px;
  	margin:auto;
	animation-name: strafe;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
}

@keyframes strafe {
	0% {top:300px; left:600px;}
	25%{top:380px; left:810px;}
	50%{top:300px; left:550px;}
	75%{top:150px; left:600px;}
	100%{top:300px; left:810px;}
}


div.paddle1:hover{
	-webkit-user-drag: element;
}

div.paddle2 {
	height: 120px;
 	width: 120px;
  	background-color: red;
  	border-radius: 50%;
  	top:350px;
  	left:1010px;
  	position: absolute;
  	animation-name: strafe2;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
}

@keyframes strafe2 {
 	0% {top:300px; left:1010px;}
	25%{top:300px; left:1200px;}
	50%{top:380x; left:1000px;}
	75%{top:300px; left:1200px;}
	100%{top:500px; left:1200px;}

 }

.container {
	position: fixed;
	height: 55px;
	width: 60px;
	background-color: white; 
}

.container.first {
	bottom: 60px;
	left: 0;
}

.container.second {
	bottom: 0px;
	left: 0;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .1s opacity, 2s width;
	background-color: rgb(223, 139, 139); 
}

.container:hover .overlay {
	opacity: 1;
	width: 200px;
}

.summarylink{
	text-align: center;
	font-size: 30px;
}

a:hover{
	color: white;
}
#play {
	text-align: center;
	font-size: 18pt;
}

.summary{
	border: 5px solid rgb(73, 73, 245);
	border-radius: 5px;
	margin: auto;
	font-size: 25px;
	line-height: 80px;
	background-color: rgb(243, 229, 229); 
	color: black;
	opacity: .8;
}